<div class="__main-container">
    <ng-container *ngIf="user">
        <h1 >Edit Profile</h1>
        <div class="__edit-section">
            <div class="__logo-section">
                <img [src]="user?.avatar">
            </div>
            <div class="__values-section">
                <div class="__input-section">
                    <input [value]="user?.name">
                </div>
                <div class="__input-section">
                    Language:
                    <select *ngIf="languages.length>0">
                        <option *ngFor="let l of languages" [value]="l.value">{{l.displayValue}}</option>
                    </select>
                </div>
                <div class="__input-section">
                    Allowed TV programmes and films
                    <select>
                        <option value="all">All maturity levels</option>
                        <option value="teen">For teens and below</option>
                    </select>
                </div>
            </div>
        </div>
    <div class="__buttons-row">
        <button class="btn-primary">SAVE</button>
        <button>CANCEL</button>
    </div>
    </ng-container>
    <ng-container *ngIf="!user">
        <h1>User unavailable</h1>
    </ng-container>
</div>