<main>
  <h1>Who's watching?</h1>
  <div>
    <!-- AVAILABLE USERS -->
    <div class="__user">
      <img src="assets/avatar_1.png">
      <h2 class="__username">
        Mateusz
      </h2>
    </div>
    <div class="__user">
      <img src="assets/avatar_1.png">
      <h2 class="__username">
        Mateusz
      </h2>
    </div>
    <div class="__user">
      <img src="assets/avatar_1.png">
      <h2 class="__username">
        Mateusz
      </h2>
    </div>

  </div>
  <button>MANAGE PROFILES</button>
</main>
<img class="__netflix-logo" src="assets/netflix.png">
<!--<router-outlet></router-outlet>-->
